.dw-dream {
  width: 1096px;
  margin: 0 auto;

  .dw-dream__hero {
    position: relative;
    height: 104px;
    padding: 30px 0;
  }

  .dw-dream__logo {
    float: left;
    width: 104px;
    height: 104px;
    margin: 0 16px 0 35px;
    text-indent: -9999px;
    background: url(../assets/images/logos/logo3.png) no-repeat center;
    background-size: 100%;
  }

  .dw-dream__wtf {
    float: left;
  }

  .dw-dream__wisdom {
    padding-top: 20px;
    font-size: 28px;
    line-height: 36px;
  }

  .dw-dream__slogan {
    font-size: 20px;
    line-height: 32px;
  }

  .dw-dream__tags {
    position: absolute;
    bottom: 24px;
    right: 0;
  }

  .dw-dream__lastest,
  .dw-dream__hot {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #79716E;
    border-radius: 50%;
    cursor: pointer;
  }

  .dw-dream__tags--active {
    background-color: #C00C0B;
  }

  .dw-dream__list {
    margin: 0 -8px;
  @utils-clearfix;
  }

  .dw-dream__item {
    float: left;
    width: 262px;
    margin: 0 8px 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;

  &
  :hover {
    transform: scale(1.04);
    box-shadow: 1px 1px 10px 2px #EBEAE8;
  / / box-shadow: 0 8 px 16 px 0 rgba(7, 17, 27, .2);
  }

  }
  .dw-dream__wrap {
    position: relative;
    overflow: hidden;
    width: 242px;
    padding: 10px 10px 6px 10px;
    background-color: white;
  }

  .dw-dream__image {
    display: block;
    width: 100%;
    height: 160px;
  }

  .dw-dream__title {
    padding: 14px 0 8px 3px;
    font-size: 12px;
    font-weight: bold;
  }

  .dw-dream__user,
  .dw-dream__time,
  .dw-dream__task,
  .dw-dream__percent {
    padding: 0 0 8px 3px;
    color: #444444;
  }

  .dw-dream__user {
    font-size: 12px;
    color: #691417;
  }

  .dw-dream__task,
  .dw-dream__percent {

  span {
    letter-spacing: 6px;
  }

  }
  .dw-dream__count {
    padding: 8px 0;
    overflow: hidden;
  }

  .dw-dream__picture,
  .dw-dream__view {
    float: right;
    font-size: 8px;
    color: #757374;
  }

  .dw-dream__picture {
    margin: 0 3px 0 6px;
  }

  .dw-dream__more,
  .dw-dream__endline {
    font-size: 16px;
    height: 80px;
    text-align: center;
    padding: 10px 0 0;
  }

  .dw-dream__more {
    cursor: pointer;
  }

  .dw-dream__hoting {
    position: absolute;
    top: -28px;
    right: -28px;
    triangle: 28px right #F90102;
    transform: rotate(-45deg);
  }

  .dw-dream__hoting--white {
    position: absolute;
    top: -11px;
    right: -11px;
    triangle: 11px right white;
  }

  .dw-dream__hoting--text {
    position: absolute;
    bottom: -7px;
    right: 7px;
    font-size: 12px;
    color: white;
    transform: rotate(90deg);
  }

  .dw-dream__hoting2 {
    position: absolute;
    right: -28px;
    top: -28px;
    width: 56px;
    height: 56px;
    background-color: #F90102;
    transform: rotate(-45deg);
  }

  .dw-dream__hoting2--white {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 22px;
    height: 22px;
    background-color: white;
  }

  .dw-dream__hoting2--text {
    position: absolute;
    top: 20px;
    right: 34px;
    font-size: 12px;
    color: white;
    transform: rotate(90deg);
  }
}
